<%- include('partials/header.ejs') %>

<main id="opinonMain">
    
    <form id="opinionForm" action="/opinion" method="post">

        <div>Insert your opinon below:</div>
        <div><textarea id="opinionTextArea" name="opinionTextArea" placeholder="Insert your opinion here" maxlength="500" required ></textarea></div>
        <div></div><button id="buttons" type="submit">Submit</button></div>

        <ul id="opinion"> User's opinions will be listed here
        <% if (opinions.length > 0) { %>
            <% opinions.forEach((opinion, index) => { %>
                <li id="opinion-item-<%= opinion.id %>">
                    <div class="opinion-text" id="opinion-text-<%= opinion.id %>">
                        <strong>Opinion <%= index + 1 %>:</strong> <%= opinion.opinionTextArea %>
                    </div>
                    <div class="btn-container">
                        <button class="btn editBtn" onclick="editOpinion(<%= opinion.id %>, '<%= opinion.opinionTextArea %>')">Edit</button> 
                        <button class="btn deleteBtn" onclick="deleteOpinion(<%= opinion.id %>)">X</button>
                    </div>
                </li>
            <% }) %>
        <% } else { %>
            <li>No opinions submitted yet.</li>
        <% } %>
        </ul>

        
    </form>
    
</main>

<script>

function editOpinion(id, text){
    console.log (id, text)
}

function deleteOpinion(id){
    console.log('desde delete')
}
</script>

<%- include('partials/footer.ejs') %>